/*=================================SETUP=================================*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'eigerdalsheavy';
    src: url('../css/fonts/eigerdalsheavy-webfont.woff2') format('woff2'),
    url('../css/fonts/eigerdalsheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'crikey_tallsemibold';
    src: url('../css/fonts/crikey_tall-webfont-webfont.woff2') format('woff2'),
    url('../css/fonts/crikey_tall-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*=================================HTML Elements=================================*/

body {
    font-family: 'eigerdalsheavy';
    background-color: floralwhite;
    color: floralwhite;
}

.header {
    border-bottom: solid 3px #01d6e9;
    margin-bottom: 18px;
}

.footer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 2%;
}

.footer-sub {
    font-size: 30px;
}

a {
    color: #01d6e9;
    text-decoration: none;
}

a:hover {
    color: #e99801;
}


/*=================================Classes=================================*/

.nav {
    margin-top: 12px;
    margin-left: 10%;
}

.nav-item {
    list-style: none;
    display: inline;
    margin-right: 30%;
}

.main {
    font-size: 80px;
}

.sub {
    font-size: 55px;
}

.picture {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.titles {
    margin-top: -22%;
}

.title {
    color: #01d6e9;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.button {
    border: 5px solid #01d6e9;
    border-radius: 20px;
    color: #01d6e9;
    display: inline-block;
    font-size: 20px;
    margin-top: 12px;
    padding: 12px 30px;
    background-color: transparent;
}

.button:hover {
    background-color: #01d6e9;
    color: #dfdfdf;
    cursor: pointer;
}

.line {
    border-top: 8px dashed #01d6e9;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}


.mail-field {
    width: 90%;
    max-width: 900px;
    margin: 1%;
    line-height: 2em;
    padding: 6px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
}

.project {}

#first {}


/*=================================Layout=================================*/

.flex {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;1
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
}

.column {
    flex-direction: column;
    align-items: center;
}

.wrapper {
    min-height: calc(100vh - 150px);
}

.img-wrapper {
    width: 60%;
    height: 60%;
}


/*=================================Media Queries=================================*/

@media (max-width: 481px) {
    .main {
        font-size: 34px;
    }

    .sub {
        font-size: 24px;
    }

    .img-wrapper {
        width: 95%;
    }
}

@media (min-width: 481px) and (max-width:630px) {
    .main {
        font-size: 46px;
    }

    .sub {
        font-size: 33px;
    }

    .img-wrapper {
        width: 65%;
    }
}

@media (min-width:630px) and (max-width:767px) {
    .main {
        font-size: 64px;
    }

    .sub {
        font-size: 46px;
    }

    .img-wrapper {
        width: 75%;
    }
}
